GEMINI_API_KEY=AIzaSyAz0WaUqGbDl-ebx4YUmMGgs83ucXWG4Dc
OPENWEATHER_API_KEY=07b6498bf6cad09c1e60c3447a95d4a5
OPENAI_API_KEY=c2800024bc2dc1beb855f89205ed9e85a28e7c2cf91f0bd31b34e791142856d6

# Mappls credentials (required for live traffic). Copy values into a secure .env file.
MAPPLS_CLIENT_ID=96dHZVzsAus3o2jpSrndlAxDM2I7owjfHa7FjOxMKLfrDNCUWesfB-iGQzgEsr5GBGmoH0PjcdNwEtg9aL3v7g==
MAPPLS_CLIENT_SECRET=lrFxI-iSEg9WCC1SwdQ9TOkD69CURmDcvmR7n0oADdCh7jLqQTthKPqUTZZnM6qbRPVUz5QupYg73czzIMI2q7tJX96Zqq9Z

# OpenRouter / OpenAI key. Either set OPENROUTER_API_KEY or OPENAI_API_KEY.
OPENROUTER_API_KEY=c1fd5f7a3988f207b9c0564ca79b5725487718782531c1f74e84f7d0513f3ab5